header {
    grid-area: header;
    display: flex; 
    justify-content: space-around; 
}

.clickables {
    grid-area: clickables;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 140px;
}

.changeLevel {
    height: 75px;
    width: auto;
    margin: 10px;
}

.playAgain {
    height: 75px;
    width: auto;
    margin: 10px;
}

body {
    background-color: #ffffcc;
}

#header {
    height: 200px;
    width: auto;
    margin-left: 44px;
}

.cards {
    width: 850px;
    height: auto;
    margin: auto;
}

#card {
    max-width: 190px;
    height: auto;
    display: inline-flex;
    border-radius: 25px;
    margin: 5px;
}   

button {
    height: 35px;
    width: auto;
}

