header {
    grid-area: header;
}

.clickables {
    grid-area: clickables;
    justify-items: center;
}

body {
    background-color: aqua;
    display: grid;
    grid-template-columns: 200px 200px 200px 200x;
    grid-template-rows: auto;
    grid-template-areas: 
    "header clickables clickables clickables"
    "section section . button"
    "footer footer footer footer";
}

.cards {
    width: 850px;
    height: auto;
}

img {
    max-width: 190px;
    height: auto;
    /* display: inline-grid; */
    display: inline-flex;
    border-radius: 25px;
    margin: 5px;
}   

button {
    height: 35px;
    width: auto;
    /* align-self: center */
}
