header {
    grid-area: header;
}

.clickables {
    grid-area: clickables;
}

.changeLevel {
    height: 75px;
    width: auto;
}

.playAgain {
    height: 75px;
    width: auto;
}

body {
    background-color: #ffffcc;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header clickables clickables"
    "section section section section"
    "footer footer footer footer";
}

#header {
    height: 200px;
    width: auto;
}

.cards {
    width: 920px;
    height: auto;
}

#card {
    max-width: 170px;
    height: auto;
    /* display: inline-grid; */
    display: inline-flex;
    border-radius: 25px;
    margin: 5px;
}   

button {
    height: 35px;
    width: auto;
    /* align-self: center */
}
